[submodule "MonoGame.Extended"]
	path = MonoGame.Extended
	url = https://github.com/craftworkgames/MonoGame.Extended.git
[submodule "MonoGame"]
	path = MonoGame
	url = https://github.com/MonoGame/MonoGame.git
[submodule "MGLayers"]
	path = MGLayers
	url = https://github.com/0xFireball/MGLayers.git
[submodule "FSMsharp"]
	path = FSMsharp
	url = https://github.com/xanathar/FSMsharp.git
[submodule "BabeLua"]
	path = BabeLua
	url = https://github.com/BabeStudio/BabeLua.git
[submodule "AvalonEdit"]
	path = AvalonEdit
	url = https://github.com/icsharpcode/AvalonEdit.git
